<header class="user-header">
    <div class="header-content">
        <h2>Travel Tracker</h2>
        <div class="user-greeting">
            Hey, <span id="username-display"></span> let's see where have you been </span>!
        </div>
    </div>
</header>
