<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Around the world</title>
    <link rel="stylesheet" href="./styles/login.css">
</head>
<body>
    <div class="login-container">
        <h1>Welcome to Around the world!</h1>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Enter your name:</label>
                <input type="text" id="username" name="username" required autofocus>
            </div>
            <button type="submit">Start Tracking</button>
        </form>
    </div>


</body>
</html>
